.p{
    border: 1px solid black;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 8px;
  }

.usercolor {
  display: inline-block;
  border-radius: 2px;
  padding: 2px;
 background-color: #FFAD00;; 
 color: black;
}